{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{% static "js/app.js" %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static '/todo/home.css' %}">

</head>
<body>
   <h1 id="hello">{{username}}'s TO DO LIST</h1> 
   <div id="create"></div>
    <div id="tasks"></div>
    <div id="update"></div>
   
    
    
  
</body>
</html>