{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{% static "js/app.js" %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   


</head>
<body>
    <h1 id=" title">{{request.user}}'s TO DO LIST</h1>

    <button onclick="exit()">Exit</button>
    <input type="search" name="search" id="search" placeholder="Search" oninput="search()">
    <div id="plus"><div>
    <div id="create"></div>
  
    <div id="tasks"></div>

   <div id="output"></div>
    
    
<link rel="stylesheet" href="{% static 'todo/home.css' %}">
</body>

</html>