<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href = '/warehouse_project/warehouse/static/warehouse/register.css'>
<title>Register</title>
<div class="container" style="justify-content: center;">
<h3>TO-DO</h3>
<hr>
</div>


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
    <input type="text" id="first_name" name="first_name" class="form-control" required autofocus placeholder="First name">
	<br>
    <input type="text" id="last_name" name="last_name" class="form-control" required autofocus placeholder="Last name">


    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>

    <input type="email" name="email" class="form-control" required autofocus placeholder="Email">

    </div> <!-- form-group// -->
    
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    <input type="text" name="username" required autofocus placeholder="Create Username" class="form-control">
       
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
    <input type="password" name="password" required autofocus placeholder="Create password" class="form-control">  
    </div>                                       
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
    </div>       
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
</form>
</article>
</div> 

</div> 


<br><br><br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
All rights saved to Eyal Yehiely 2023 (c)
</div>
</article>
  <link rel="stylesheet" href="/static/register.css">
</head>
<body>



