
h1{
    text-align: center;
    text-decoration:underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
   

}

th {
    
    padding: 8px;
    text-align: center;
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
    color: gray;


}


tr{
padding: 8px;
text-align: center;
border:1px solid  gray;
}

tr:hover{
    background-color: #dddddd;

}


#tableDiv{
    border-radius: 2px;
}


body{
    background-color: bisque;
}


#plusButton{
    border-radius: 10px;
    
    
}


/* 
#cardDiv {

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 16px;
    background-color:green;
} */

/* .card h3 {
    color: #333;
}

.card p {
    color: #666;
} */


/*  
#editDiv{
    margin-top: 3vh;
    width: 20vw;
    height: 35vh;
    margin-left: 20vw;
    border: 1px solid silver;
    background-color: #00d0ff; 
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 1vw;  
} */